.info{

    background-color: rgb(1, 102, 69);
    color: aqua;
    margin-right: 10%;
    
}
.info2{
    
    background-color: cadetblue;
    color: cyan;
    
}


body {

    background-color: cornflowerblue;
}